<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Changepassword</title>
</head>
<body>
    <form action="" method="post"> {% csrf_token %}
        
        {% if form.non_fields_errors %}
            {% for error in form.non_fields_errors %}
                <p>{{error}}</p>
            {% endfor %}      
        {% endif %}
        
        {% for fm in form %}
            {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br><br>
        {% endfor %}
        <input type="submit" value="Change">
            
    </form>
    <a href="{% url 'logout' %}">logout</a>
</body>
</html>