<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>

    <link rel="stylesheet" href="{% static 'myfile/css/bootstrap.css' %}">

    {% block basecss %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock basecss %}
</head>
<body>
    {% block nav %}
    
    <nav>
        <ul>
            <li>Home</li>
            <li>About</li>
            <li>Django</li>
        </ul>
    </nav>
    
    {% endblock nav %}
    
    {% block content %}{% endblock content %}
    <script src="{% static 'myfile/js/jquery.js' %}"></script>
    <script src="{% static 'myfile/js/popper.js' %}"></script>
    <script src="{% static 'myfile/js/bootstrap.js' %}"></script>
</body>
</html>